@import 'tailwindcss';
@layer base {
 
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    display: none;
  }
}
@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities{
    .box-shadow-custom{
        box-shadow: 0px 4px 15px -5px blue;
      
    }
    
}
